/*  your css code here. If applicable */
.modal{
display:none;
	height:100vh;
	width:100vw;
	position:absolute;
	top:0px;
	left:0px;
	background-color: #00000033;
	
}

.modal-content{
	padding:20px;
	position:relative;
	box-sizing:border-box;
	background-color:white;
	margin:20px;
}
.modal-header{
	background-color:green;
	padding:3px;
}
.close-modal{
	position:absolute;
	z-index:100;
	float:right;
	bottom:10px;
	right:10px;
	cursor:pointer;
	
}
.modal-body{
	color:black;
}